# macOS and Linux object files
*.o

# macOS and Linux build targets
build/test_shadowmocap

# Windows build and Visual Studio working files
build/bin
build/obj
build/.vs
build/*.vcxproj.user

stage/
.vs/

# Clang code coverage data files
build/coverage.*